.column{
  display: flex;
  flex-direction: column;
  margin: 3px;
  align-items: center;
}

.noColumn{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}

@media screen and (min-width: 600px) {
  .allMovies{
    display: flex;
    flex-direction: row;
    width: 95%;
    height: 200%;
    margin: 0px auto;
    margin-bottom: 5%;
  }
}


.call{
  margin-top: auto;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 5%;
  padding-bottom: 10px;
}

.email{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 3%;
}

.email a{
    margin-left: 3%;
}


  @media screen and (max-width: 600px){
    .allMovies{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    align-items: center;
  }
}
